
/*------------------Global------------------------*/

.flex-containter {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


/*------------------NAVBAR----------------------*/

aside{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    max-height: calc(100vh);

}

.navbar-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.navbar-left li{
    display: flex;
    align-items: center;
}

.navleft-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 0;
    padding: 10px 0;
}

.navleft-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 10px 0;

}
.navleft-menu img{
    display: flex;
    max-height: 15px;

}

.navleft-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 15px;
    align-self: stretch;
}

.button-primary {
    display: flex;
    flex-grow: 1;
    width: 250px;
    justify-content: center;
}

.button-secondary {
    display: flex;
    flex-grow: 1;
    width: 250px;
    justify-content: center;
}


/*---------------------------------------------------------*/
/*----------------------------MAIN-------------------------*/

.content-section {
    display: flex;
    flex-direction: column;
    flex-basis: 425px;
    flex-grow: 12;
    overflow-y: hidden;
    max-height: 100vh;
}



header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url("../assets/placeholder-image.svg");
    background-position: center;
    text-align: center;
    flex-basis: 400px;
    justify-content: center;
    border: 3px lightcyan ;
}


main {
    display: flex;
    padding: 40px 80px;
    height: 80%;
    overflow: hidden;
}

.main-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    align-content: flex-start;
    overflow-y: auto;
}

.main-article::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.main-content{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 15px;
}

.article-users-icon {
    display: flex;
    max-height: 15px;
}

.main-content span {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.main-content button {
    background-color: #383838;
    color: #e3e3e3;
}

.article-placeholder-image{
    max-height: 234px;
    flex-shrink: 1;
}



footer {
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
    background-color: #383838;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------*/