/*------------------Temp------------------------*/
body {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh);
    overflow-wrap: break-word;

    margin: 0;
    padding: 0;
    height: 100%;

}

aside{
    display: flex;
    flex-direction: column;
    background-color: red;
    border: 3px solid black;
    flex-basis: 250px;
    flex-shrink: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.content-section p {
    flex-shrink: 0;

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: pink;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: forestgreen;
    border: 3px solid black;

}


footer {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border: 3px solid black;
    justify-items: center;
    align-items: center;

}

/*------------------NAVBAR----------------------*/

.navbar-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    border: 3px solid black;
}

.navbar-left li{
    display: flex;

}

.navleft-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
    flex-grow: 0;
}

.navleft-menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
}

.navleft-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 15px;
    flex-grow: 0;
}

/*---------------------------------------------------------*/