body {
/*    display: flex;
    flex-direction: row;
    min-height: calc(100vh);*/
    /*    overflow-wrap: break-word;
    TEMP REMOVE
        padding: 0;
        height: 100%;*/

}
/*------------------Global------------------------*/

.flex-containter {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


/*------------------NAVBAR----------------------*/

aside{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    max-height: calc(100vh);

}

.navbar-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.navbar-left li{
    display: flex;
    align-items: center;
}

.navleft-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 0;
    padding: 10px 0;
}

.navleft-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 10px 0;

}
.navleft-menu img{
    display: flex;
    max-height: 15px;

}

.navleft-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 15px;
    align-self: stretch;
}

.button-primary {
    display: flex;
    flex-grow: 1;
    width: 250px;
    justify-content: center;
}

.button-secondary {
    display: flex;
    flex-grow: 1;
    width: 250px;
    justify-content: center;
}


/*---------------------------------------------------------*/
/*----------------------------MAIN-------------------------*/

.content-section {
    display: flex;
    flex-direction: column;
    flex-basis: 425px;
    flex-grow: 12;
/*    flex-shrink: 0;*/
    overflow-y: hidden;
    /*overflow: hidden;*/
    border: 3px solid pink;
    max-height: 100vh;
}

.content-section p {
/*    flex-shrink: 0;*/
    border: 3px dashed red;
}

header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url("../assets/placeholder-image.svg");
    background-position: center;
    text-align: center;
    flex-basis: 400px;
    justify-content: center;
    border: 3px lightcyan ;
}


main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 40px 80px;
    border: 3px blue ;
}

.main-article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
/*    flex-shrink: 0;*/
    overflow-wrap: normal;
    overflow: visible;
    border: 3px solid grey ;
}

.main-content article{
    display: flex;
    flex-direction: column;
    flex-basis: 260px;
/*    flex-shrink: 0;*/
    flex-grow: 1;
    gap: 15px;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    overflow-wrap: normal;
    overflow: visible;
    border: 3px solid green ;

}



footer {
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
    background-color: #383838;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------*/